.panda-bg-info{
    background-color: #FCEAE8;
}
.categories img{
    width: 100px;
}
.panda-btn{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: 0;
    border-radius: 8px;
    padding: 9px 25px;
}
.carousel-price{
    color: #FF136F;
}